<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h1>Student Page</h1>
    {% if stu %}
        <h1>Show Data</h1>
        <h3>{{stu}}</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>StuID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for st in stu %}
                <tr>
                    <td>{{st.id}}</td>
                    <td>{{st.stuid}}</td>
                    <td><h3>{{st.stuname}}</h3></td>
                    <td>{{st.stuemail}}</td>
                    <td>{{st.stupass}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No Data</h3>
    {% endif %}
</body>
</html>
